$main: #096ae0;
$pri: #5564d6;
$btn: #3be4dd;
$bgColor: #3b1485;
$light: #ffffff;
$dark: #000000;

@media only screen and (max-width: 990px) {
  .title {
    font-size: 30px;
  }

  .banner-title {
    font-size: 30px;
  }

  header {
    &.sticky {
      .nav {
        ul {
          a {
            li {
              color: transparent;
            }
          }
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    padding: 0 25px;

    .nav {
      position: fixed;
      left: -200px;
      transition: 0.4s;
      z-index: -1;
      pointer-events: none;

      &.side-nav {
        display: block;
        position: fixed;
        left: 10px;
        top: 70px;
        z-index: 21;
        max-width: 370px;
        width: 100%;
        pointer-events: auto;

        ul {
          flex-direction: column;
          justify-content: flex-start;
          padding: 0 2rem;
          width: 100%;
          a {
            margin-right: 2rem;
            line-height: 5rem;
            font-weight: 500;
            font-size: 18px;
            border-bottom: 1px solid rgba($light, 0.4);
            width: 100%;

            li {
              color: $light;
            }

            &:hover {
              background-color: rgba($light, 0.2);
            }
          }
        }
      }
    }
    .logo {
      height: 60px;
      justify-content: flex-start;

      img {
        width: 100%;
      }
    }

    .side-nav-btn {
      display: block;
      justify-content: flex-end;
      position: relative;
      height: 20px;
      width: 30px;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 100%;
        background-color: $main;
        transition: 0.4s;
      }

      .nav-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 100%;
        background-color: $main;
        transition: 0.4s;
      }

      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 100%;
        background-color: $main;
        transition: 0.4s;
      }

      &.nav-clicked {
        &:after {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 100%;
        }

        .nav-btn {
          width: 0;
        }

        &:before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          width: 100%;
        }
      }
    }
  }

  .how-we-work {
    .process {
      padding: 10px;

      h2 {
        font-size: 16px;
      }
    }
  }

  .responsible {
    .list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .what-we-do {
    .section {
      grid-template-columns: 1fr 1fr;
    }
  }

  .footer {
    .wrapper {
      .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  .teams {
    .desc {
      padding: 0;
    }
    .list {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 50px;
      margin: 4rem 0 2rem;
    }
  }

  .intern {
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .sensor {
    padding: 2rem 0;

    .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .others {
        grid-column: 1/3;
        padding: 0 20px;

        .image {
          height: 350px;
        }
      }
    }
  }

  .dont-waste-time {
    .list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .learning {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;

      .details {
        grid-area: 2;
      }

      .image {
        height: 400px;
      }
    }
  }

  .blog {
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 25px;

    .map {
      height: 100%;
      width: 100%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }

    .wrapper {
      position: initial;

      .form {
        background-color: $bgColor;
      }
    }
  }
}

@media only screen and(max-width: 800px) {
  .banner {
    .slider {
      .swiper-slide {
        grid-template-columns: 1fr;

        .detais {
          grid-area: 2;
        }

        .image {
          grid-area: 1;
        }
      }
    }
  }

  .how-we-work {
    .inner {
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .process {
      margin-left: 4rem;
      margin-bottom: 2rem;
    }

    .line {
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      width: 5px;
      height: 100%;

      .dot {
        left: 50%;
        top: 0%;
        transform: translateX(-50%) rotate(180deg);
        animation: move 8s ease-in-out forwards infinite;
      }

      @keyframes move {
        0% {
          top: 0;
          background-color: #31c7c4;
        }

        35% {
          background-color: #6760f0;
        }

        60% {
          background-color: #4b82fd;
        }

        100% {
          top: 100%;
          background-color: #fffbad;
        }
      }
    }
  }

  .what-we-do {
    .section {
      grid-template-columns: 1fr;

      .list {
        justify-content: flex-start;
        grid-area: 2;
      }

      .images {
        grid-area: 1;
        flex-wrap: wrap;
        height: 400px;
      }
    }
  }

  .challenges-in-ai {
    position: relative;
    &.performance {
      .wrapper {
        grid-template-columns: 1fr 1fr;
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }

    .vector-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0.1;
      filter: blur(5px);
    }
  }

  .black-box-ai {
    position: relative;
    margin: 3rem 0;

    &.dark {
      position: relative;
      .wrapper {
        .vector-img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.8);
          opacity: 0.1;
          filter: blur(5px);
        }
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;

      .details {
        grid-area: 2;
        position: relative;
        z-index: 1;
      }

      .vector-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.2;
        filter: blur(5px);
      }
    }
  }

  .footer {
    .wrapper {
      .list {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  .page-banner {
    .wrapper {
      grid-template-columns: 1fr;
      padding-bottom: 2rem;

      .detais {
        .banner-title {
          font-size: 30px;
          line-height: 2.5rem;
          margin-bottom: 0;
        }
      }

      .video {
        height: 400px;
        width: 100%;
        overflow: hidden;
      }
    }
  }

  .how-it-begain {
    .title-sec {
      display: grid;
      grid-template-columns: 1fr;

      .about-title {
        font-size: 40px;
        font-weight: 600;
      }
    }
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .defense-solutions {
    .wrapper {
      grid-template-columns: 1fr;

      .images {
        display: none;
      }
    }
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0;
    height: auto;

    .map {
      height: 400px;
      width: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }
    }

    .wrapper {
      position: relative;
      max-width: 100%;
      width: 100%;
      margin-bottom: 3rem;
      grid-area: 1;

      .form {
        background-color: $bgColor;
        max-width: 100%;
      }
    }
  }
}

@media only screen and(max-width: 760px) {
  .responsible {
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .explainable {
    .title-desc {
      padding: 0;
      font-size: 14px;
    }
    .video {
      height: 300px;
    }

    .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .footer {
    .wrapper {
      .list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .teams {
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .intern {
    .list {
      grid-template-columns: 1fr;
      .card {
        .image {
          height: 300px;
        }
      }
    }
  }

  .ready-to-get-started {
    .title {
      font-size: 50px;
    }
  }

  .dont-waste-time {
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .blog {
    .list {
      display: grid;
      grid-template-columns: 1fr;

      .card {
        .image {
          height: 300px;
        }
      }
    }
  }
}

@media only screen and(max-width: 530px) {
  .responsible {
    .list {
      grid-template-columns: 1fr;
    }
  }

  .explainable {
    .video {
      height: 250px;
    }

    .list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  .customers {
    margin: 4rem 0;
    .list {
      .swiper-slide {
        padding: 1rem;
        .desc {
          line-height: 2rem;
          font-size: 16px;
        }
      }
    }
  }

  .footer {
    .wrapper {
      .list {
        grid-template-columns: 1fr;
      }
    }
  }

  .how-it-begain {
    .list {
      grid-template-columns: 1fr;
    }
  }

  .page-banner {
    .image {
      height: 300px;
    }
    .wrapper {
      .video {
        display: none;
      }
    }
  }

  .teams {
    .list {
      grid-template-columns: 1fr;
    }
  }

  .sensor {
    padding: 2rem 0;

    .title {
      text-align: left;
    }

    .title-sec {
      .desc {
        padding: 1rem 0;
        text-align: left;
      }
    }

    .inner {
      display: grid;
      grid-template-columns: 1fr;

      .others {
        grid-column: 1;
        padding: 0;
        margin-top: 3rem;

        .title-list {
          li {
            font-size: 16px;
            margin-right: 1rem;
          }
        }

        .image {
          height: 250px;
        }
      }
    }
  }

  .ready-to-get-started {
    .title {
      font-size: 40px;
    }
  }

  .dont-waste-time {
    .list {
      grid-template-columns: 1fr;
    }
  }

  .learning {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;

      .details {
        grid-area: 2;
        .banner-title {
          font-size: 30px;
        }

        .button-group {
          flex-direction: column;
          align-items: flex-start;

          .button {
            margin-bottom: 1rem;
          }
        }
      }

      .image {
        height: 220px;
      }
    }
  }

  .blog {
    .list {
      .card {
        .image {
          height: 200px;
        }
      }
    }
  }
}
