@media only screen and (max-width: 990px) {
  .title {
    font-size: 30px;
  }
  .banner-title {
    font-size: 30px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    padding: 0 25px;
  }
  .header .nav {
    position: fixed;
    left: -200px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: -1;
    pointer-events: none;
  }
  .header .nav.side-nav {
    display: block;
    position: fixed;
    left: 10px;
    top: 70px;
    z-index: 21;
    max-width: 370px;
    width: 100%;
    pointer-events: auto;
  }
  .header .nav.side-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 2rem;
    width: 100%;
  }
  .header .nav.side-nav ul a {
    margin-right: 2rem;
    line-height: 5rem;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
  }
  .header .nav.side-nav ul a li {
    color: #ffffff;
  }
  .header .nav.side-nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .header .logo {
    height: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header .logo img {
    width: 100%;
  }
  .header .side-nav-btn {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    height: 20px;
    width: 30px;
    cursor: pointer;
  }
  .header .side-nav-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: #0561a6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .side-nav-btn .nav-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: #0561a6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .side-nav-btn:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: #0561a6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .side-nav-btn.nav-clicked:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
  }
  .header .side-nav-btn.nav-clicked .nav-btn {
    width: 0;
  }
  .header .side-nav-btn.nav-clicked:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
  }
}
/*# sourceMappingURL=responsive.styles.css.map */