@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  list-style: none;
  font-family: Manrope, sans-serif;
}

$main: #096ae0;
$pri: #5564d6;
$btn: #3be4dd;
$bgColor: #3b1485;
$light: #ffffff;
$dark: #000000;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin button {
  padding: 0.6rem 2rem;
  background-color: rgba($main, 0.8);
  color: $light;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    color: $light;
    background-color: $main;
    box-shadow: 0 0 10px rgba($main, 0.9);
  }
}

@mixin buttonLight {
  padding: 0.6rem 1.5rem;
  background-color: $light;
  color: $light;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 0 0 3em $btn inset;
  transition: 0.4s ease-in-out;
  border: 2px solid $btn;

  &:hover {
    background-color: $light;
    box-shadow: 0 0 0 0em $btn inset;
    color: $btn;
  }
}

@mixin transitionImage {
  transition: filter 0.45s cubic-bezier(0, 0, 0, 1),
    transform 0.45s cubic-bezier(0, 0, 0, 1);
}

::-webkit-scrollbar {
  width: 10px;
}

:root::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: $main;
  border-radius: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #110f2e;
  position: relative;
}

/************************************************
*                   header                      *
************************************************/

.side-nav-bg {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: $dark;
  z-index: 5;
  transition: 0.4s;
  width: 0;

  &.show {
    width: 400px;
  }
}

.close-btn-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($dark, 0.2);
  z-index: 5;
  display: none;

  &.show {
    display: block;
  }
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;

  &.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
    animation: sticky 0.8s ease-in-out;
    background-color: $light;
    box-shadow: 0 4px 10px rgba($dark, 0.2);

    .header {
      padding: 0 25px;
    }

    .nav {
      ul {
        a {
          li {
            color: $dark;
          }
        }
      }
    }
  }
}

@keyframes sticky {
  0% {
    top: -15%;
  }

  100% {
    top: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 25px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;

  .logo {
    height: 60px;
    max-width: 150px;
    @include center();

    img {
      width: 100%;
    }
  }

  .nav {
    @include center();
    width: 100%;

    ul {
      @include center();
      justify-content: flex-end;
      width: 100%;

      a {
        margin: 0 1rem;
        font-weight: 500;
        display: inline-block;
        border-bottom: 2px solid transparent;
        transition: 0.3s;

        li {
          color: $light;
        }

        &:hover {
          border-bottom: 2px solid $main;
        }
      }
    }
  }

  .side-nav-btn {
    @include center();
    display: none;
  }
}

/************************************************
*                   banner                      *
************************************************/

.banner {
  background-color: #110f2e;
  padding: 6rem 0 4rem;

  .slider {
    .swiper-slide {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      width: 100%;
      background-color: #110f2e;

      .detais {
        @include center();
        flex-direction: column;
        align-items: flex-start;
        background-color: #110f2e;

        .banner-title {
          font-size: 40px;
          color: $light;
          font-weight: 600;
          margin-bottom: 1rem;
          line-height: 2.5rem;
        }

        .desc {
          font-size: 18px;
          color: $light;
          line-height: 2rem;
          font-weight: 300;
          margin-bottom: 1rem;
        }

        .button {
          @include button();
        }
      }

      .image {
        height: 500px;
        width: 100%;
        @include image();
        background-color: #110f2e;
      }

      .video {
        height: 500px;
        width: 100%;
        overflow: hidden;

        video {
          height: 100%;
          width: 100%;
          transform: scale(1.4);
        }
      }
    }
  }
}

/************************************************
*                  our-client                   *
************************************************/

.our-client {
  padding: 2rem 0;
  background-color: $light;

  .swiper-slide {
    @include center();
  }

  .card {
    @include center();
    height: 120px;
    width: 180px;

    img {
      width: 100%;
    }
  }
}

/************************************************
*                  how-we-work                  *
************************************************/

.how-we-work {
  padding: 2rem 0 4rem;
  position: relative;
  background-color: $bgColor;

  .title {
    color: $light;
  }

  .inner {
    position: relative;
    z-index: 2;
    @include center();
    justify-content: space-between;
    position: relative;
    margin-top: 2rem;
  }

  .process {
    @include center();
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;

    &:nth-child(2) {
      h2 {
        color: #3be5dd;
      }
    }

    &:nth-child(3) {
      h2 {
        color: #bbb7ff;
      }
    }

    &:nth-child(4) {
      border: 2px solid $light;
      border-radius: 20px;
      background-color: rgba($light, 0.06);
      h2 {
        color: #99b7ff;
      }
    }

    &:nth-child(5) {
      h2 {
        color: #fffbae;
      }
    }

    h2 {
      position: relative;
      z-index: 1;
      font-size: 20px;
      color: $dark;
      text-align: left;
      font-weight: 600;
      max-width: 200px;
      width: 100%;
    }

    .icon {
      @include center();
      justify-content: flex-start;
      height: 200px;
      width: 100px;
      margin-bottom: 1rem;

      img {
        width: 80%;
      }
    }
  }

  .line {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 5px;
    background-image: linear-gradient(
      108deg,
      #31c7c4,
      #6760f0 41%,
      #4b82fd 69%,
      #fffbad
    );

    .dot {
      height: 15px;
      width: 15px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-45%) rotate(90deg);
      background-color: $main;
      animation: move 8s ease-in-out infinite;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }

  @keyframes move {
    0% {
      left: 0;
      background-color: #3be5dd;
    }

    35% {
      background-color: #bbb7ff;
    }

    60% {
      background-color: #99b7ff;
    }

    100% {
      left: 100%;
      background-color: #fffbae;
    }
  }

  @keyframes big {
    0% {
      height: 100px;
      width: 100px;
      opacity: 1;
    }

    100% {
      height: 180px;
      width: 180px;
      opacity: 0;
    }
  }
}

/************************************************
*                responsible                    *
************************************************/

.responsible {
  margin: 4rem 0;
  text-align: center;

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 3rem;
    margin-top: 2rem;

    .card {
      padding: 1.7rem 1rem;
      border-radius: 8px;
      box-shadow: 0 0 40px rgba($dark, 0.07);
      transition: 0.4s;
      background-color: $light;

      &:hover {
        transform: scale(1.06);
        box-shadow: 0 0 40px rgba($dark, 0.16);
      }

      .image {
        height: 270px;
        width: 100%;
        @include image();
      }

      .name {
        font-size: 16px;
        font-weight: 500;
        color: $dark;
        text-align: center;
      }
    }
  }
  .button {
    @include button();
  }
}

/************************************************
*                  explainable                  *
************************************************/

.explainable {
  padding: 4rem 0;
  background-color: $bgColor;

  .title {
    color: $light;
  }

  .title-desc {
    color: $light;
    padding: 0 2rem;
    text-align: center;
    margin-top: 1rem;
  }

  .video {
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-top: 4rem;

    video {
      width: 100%;
      height: 100%;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 1000px;
    width: 100%;

    .item {
      margin-bottom: 1rem;

      .icon {
        height: 50px;
        width: 50px;

        .circle {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          border: 3px solid $pri;
        }

        img {
          width: 100%;
        }
      }
      .name {
        font-size: 24px;
        font-weight: 600;
        margin: 2rem 0 0.6rem;
        color: $light;
      }

      .desc {
        color: $light;
      }
    }
  }
}

/************************************************
*                 what-we-do?                   *
************************************************/

.what-we-do {
  margin: 4rem 0;

  .title {
    margin-bottom: 2rem;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;

    .list {
      @include center();
      justify-content: flex-start;

      ul {
        li {
          margin: 1.4rem 0;
          font-size: 24px;
          font-weight: 600;
          transition: 0.2s;
          cursor: pointer;
          color: rgba($dark, 0.4);
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 17px;
            border-radius: 10px;
            width: 0;
            background-color: $main;
            opacity: 0;
            transition: 0.2s;
          }

          &.active {
            padding-left: 2.5rem;
            color: rgba($dark, 0.9);

            &:after {
              opacity: 1;
              width: 30px;
            }
          }
        }
      }
    }

    .images {
      position: relative;
      height: 400px;

      .image {
        @include image();
        width: 100%;
        height: 100%;
      }
    }
  }
}

/************************************************
*                 black-box-ai                  *
************************************************/

.black-box-ai {
  margin: 3rem 0;

  &.dark {
    background-color: $bgColor;
    padding: 4rem 0;
    color: $light;

    .wrapper {
      .details {
        .title {
          color: $light;
        }
      }

      img {
        width: 100%;

        &.boost {
          width: 100%;
        }
      }
    }
  }

  .wrapper {
    @include center();
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .details {
      text-align: left;
      .title {
        text-align: left;
        margin-bottom: 2rem;
      }

      .list {
        margin-bottom: 4rem;
        ul {
          li {
            @include center();
            justify-content: flex-start;
            margin-bottom: 1.4rem;

            .icon {
              height: 55px;
              width: 55px;
              background-color: $pri;
              border-radius: 50%;
              @include center();
              margin-right: 1rem;

              img {
                width: 50%;
              }
            }

            .name {
              width: 70%;
              line-height: 1.8rem;
            }
          }
        }
      }

      .button {
        @include button();
      }
    }

    img {
      width: 90%;

      &.troubleshooting,
      &.build-responsible-ai {
        width: 100%;
        box-shadow: 4px 4px 20px rgba($dark, 0.14);
      }
    }
  }
}

/************************************************
*               challenges-in-ai                *
************************************************/

.challenges-in-ai {
  padding: 4rem 0;
  background-color: $bgColor;

  &.performance {
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  .wrapper {
    @include center();
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;

    .details {
      text-align: left;
      .title {
        color: $light;
        text-align: left;
        margin-bottom: 1.6rem;
      }

      p {
        color: $light;
        margin-bottom: 1.6rem;
      }

      .list {
        margin-bottom: 4rem;
        ul {
          li {
            @include center();
            justify-content: flex-start;
            margin-bottom: 1.4rem;
            color: $light;

            .icon {
              height: 55px;
              width: 55px;
              background-color: $pri;
              border-radius: 50%;
              @include center();
              margin-right: 1rem;

              img {
                width: 50%;
              }
            }

            .name {
              width: 70%;
              line-height: 1.8rem;
            }
          }
        }
      }

      .button {
        @include button();
      }
    }

    img {
      width: 100%;
    }
  }
}

/************************************************
*                  customers                    *
************************************************/

.customers {
  margin: 4rem 0;
  .title {
    margin-bottom: 3rem;
  }

  .list {
    box-shadow: 6px 6px 30px rgba($dark, 0.1);
    border-radius: 20px;
    overflow: hidden;

    .swiper-slide {
      padding: 4rem;
      background-color: $light;

      .company-logo {
        height: 100px;
        width: 200px;
        @include center();
        margin-bottom: 1rem;

        img {
          width: 100%;
        }
      }

      .desc {
        line-height: 2.5rem;
        font-size: 20px;
        margin-bottom: 3rem;
      }

      .name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0.6rem;
      }
    }
  }
}

/************************************************
*                    footer                     *
************************************************/

.footer {
  padding: 4rem 0;
  background-color: #110f2e;
  color: $light;

  .wrapper {
    .logo-footer {
      height: 70px;
      width: 140px;
      @include center();

      img {
        width: 100%;
      }
    }

    .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;

      ul {
        li {
          color: #627386;
          line-height: 1.5rem;
          margin: 1rem 0;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;

          &.heading {
            color: $light;
            font-weight: 600;
            margin-bottom: 1.3rem;
            font-size: 16px;
          }

          span {
            padding: 0.3rem;
            background-color: $main;
            color: $light;
            border-radius: 10px;
            margin-left: 10px;
            font-size: 12px;
          }
        }
      }

      form {
        input {
          width: 100%;
          background-color: $light;
          padding: 0.6rem;
          border: 10px;
          margin-bottom: 1rem;
        }

        .button {
          @include button();
        }
      }
    }
  }
}

/************************************************
*                 page-banner                   *
************************************************/

.page-banner {
  background-color: $bgColor;
  position: relative;

  &:after {
    content: '';
    @include black();
    background: linear-gradient(180deg, rgba($bgColor, 0.7), rgba($bgColor, 0));
    z-index: 1;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .page-name {
    color: $btn;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .detais {
    @include center();
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    padding: 6rem 0 3rem;

    .banner-title {
      font-size: 50px;
      color: $light;
      font-weight: 600;
      margin-bottom: 1rem;
      line-height: 4rem;

      &.product {
        font-size: 40px;
        padding-right: 1rem;
        line-height: 3rem;
        span {
          color: $btn;
        }
      }
    }

    .desc {
      font-size: 18px;
      color: $light;
      line-height: 2rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    .button {
      @include button();
    }
  }

  .image {
    height: 500px;
    width: 100%;
    @include image();
  }

  .video {
    height: 500px;
    width: 100%;
    overflow: hidden;
  }
}

/************************************************
*                 how-it-begain                 *
************************************************/

.how-it-begain {
  margin: 4rem 0;

  .title-sec {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;

    .about-title {
      font-size: 50px;
      font-weight: 800;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 4rem;

    .item {
      margin-bottom: 1rem;

      .icon {
        height: 50px;
        width: 50px;

        .circle {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          border: 3px solid $main;
        }

        img {
          width: 100%;
        }
      }
      .name {
        font-size: 24px;
        font-weight: 600;
        margin: 2rem 0 0.6rem;
      }
    }
  }
}

/************************************************
*                     teams                     *
************************************************/

.teams {
  margin: 4rem 0;

  .title {
    color: $dark;
    margin-bottom: 1rem;
  }

  .desc {
    width: 100%;
    text-align: center;
    padding: 0 4rem;
    line-height: 2rem;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 50px;
    margin: 4rem 0 2rem;

    .card {
      @include center();
      flex-direction: column;
      .image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 30px rgba($main, 0.3);

        .profile-image {
          height: 100%;
          width: 100%;
          @include image();
        }
      }

      .details {
        text-align: center;
        margin-top: 1rem;

        .name {
          font-size: 24px;
          font-weight: 600;
        }

        .work {
          color: $main;
          font-weight: 600;
          font-size: 16px;
          margin: 0.7rem 0;
        }

        .social-icon {
          @include center();
          justify-content: space-evenly;
        }
      }
    }
  }
}

/************************************************
*                   plug-in                     *
************************************************/

.plug-in {
  margin: 4rem 0;
  .title {
    color: $bgColor;
    span {
      color: $main;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    .item {
      @include center();
      justify-content: flex-start;
      margin: 3rem 0;
      padding: 2rem;
      background: linear-gradient(180deg, rgba($main, 0.1), rgba($light, 0.1));
      border-radius: 8px;

      .num {
        font-size: 90px;
        margin-right: 1rem;
        color: $main;
        font-weight: 800;
      }

      .name {
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}

/************************************************
*                    vacancy                    *
************************************************/

.vacancy {
  margin: 4rem 0;

  .title {
    margin-bottom: 2rem;
  }

  .list {
    ul {
      li {
        @include center();
        justify-content: space-between;
        padding: 1rem;
        margin-bottom: 1rem;
        color: $bgColor;
        background-color: #ececec;
        position: relative;
        overflow: hidden;

        .ribbon {
          position: absolute;
          right: -20px;
          top: -20px;
          height: 80px;
          width: 80px;
          @include center();

          .tag {
            transform: rotate(45deg);
            background-color: red;
            padding: 3px 10px;
            width: 100%;
            text-align: center;
            font-size: 12px;
            color: $light;
          }
        }

        .name {
          font-size: 20px;
          font-weight: 600;
        }

        .apply-btn {
          @include button();
        }
      }
    }
  }
}

/************************************************
*                  cv-upload                    *
************************************************/

.cv-upload {
  margin: 4rem 0;

  .title {
    margin-bottom: 2rem;
  }

  .wrapper {
    @include center();
    flex-direction: column;
  }

  .drop-area {
    height: 300px;
    @include center();
    max-width: 600px;
    border: 1px dashed $main;
    @include center();
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 100%;

    &.active {
      border: 1px solid $main;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .icon {
      height: 60px;
      width: 60px;
      @include center();

      img {
        width: 100%;
      }
    }

    .name {
      font-size: 24px;
    }
  }

  .center {
    @include center();
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .button {
    @include button();
    cursor: pointer;
  }
}

/************************************************
*                  career-page                  *
************************************************/

.career-page {
  background-color: $bgColor;
  height: 500px;
  position: relative;
  margin-bottom: 15rem;

  .wrapper {
    @include center();
    height: 80%;

    .detais {
      text-align: center;
      .banner-title {
        color: $light;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      .desc {
        color: $light;
      }
    }

    .image {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 400px;
      max-width: 800px;
      width: 100%;

      .img {
        width: 100%;
        height: 100%;
        @include image();
      }
    }
  }
}

/************************************************
*                     blog                      *
************************************************/

.blog {
  padding: 4rem 0;
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    .card {
      &:hover {
        .image {
          .img {
            transform: scale(1.1);
          }
        }
      }
      .image {
        overflow: hidden;
        height: 200px;
        width: 100%;

        .img {
          height: 100%;
          width: 100%;
          @include image();
          @include transitionImage();
        }
      }

      .details {
        padding: 1rem;
        margin: 1rem;
        margin-top: -20px;
        background-color: $light;
        box-shadow: 4px 4px 15px rgba($dark, 0.2);
        position: relative;
        z-index: 1;

        .about-blog {
          color: $main;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }

        .name {
          font-size: 18px;
          font-weight: 600;
          color: $dark;
        }

        .blog-footer {
          @include center();
          justify-content: flex-start;
          margin-top: 2rem;

          .profile-img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 1rem;
            @include image();
          }

          .profile-detaile {
            color: $dark;
            .name {
              font-size: 16px;
            }

            .time {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

/************************************************
*               blog-details-page               *
************************************************/

.blog-details-page {
  padding: 4rem 0;

  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  }

  .image {
    height: 400px;
    overflow: hidden;
    margin-bottom: 1rem;

    .img {
      height: 100%;
      width: 100%;
      @include image();
    }
  }

  .details {
    .name {
      font-size: 40px;
      font-weight: 600;
      line-height: 3rem;
      margin-bottom: 1rem;
    }

    .profile {
      @include center();
      justify-content: flex-start;
      margin: 2rem 0;

      .profile-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 1rem;
        @include image();
      }

      .profile-detaile {
        color: $dark;

        .username {
          font-size: 16px;
          font-weight: 600;
        }

        .time {
          font-size: 14px;
        }
      }
    }
  }

  .others-infos {
    margin: 2rem 0;
    .name {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 0.6rem;
    }

    .desc {
      margin-bottom: 0.6rem;
      font-size: 17px;
      line-height: 1.8rem;
      color: #535353;
    }

    ul {
      margin: 0 0 0 30px;

      li {
        list-style: decimal;
        line-height: 2rem;
        margin-bottom: 0.6rem;
      }
    }
  }

  .recent-post {
    .list {
      margin-top: 2rem;
      .item {
        @include center();
        justify-content: flex-start;
        margin-bottom: 2rem;
        box-shadow: 3px 3px 10px rgba($dark, 0.14);
        transition: 0.3s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 3px 10px 10px rgba($dark, 0.14);
        }

        .recent-image {
          height: 80px;
          width: 30%;

          .img {
            width: 100%;
            height: 100%;
            @include image();
          }
        }

        .name {
          font-size: 16px;
          font-weight: 700;
          width: 70%;
          padding-left: 5px;

          a {
            color: $dark;
          }
        }
      }
    }
  }
}

/************************************************
*                 job-details                   *
************************************************/

.job-details {
  .title-sec {
    position: sticky;
    top: 40px;
    background-color: $light;
    padding-top: 40px;
  }

  .job-title {
    font-size: 30px;
    font-weight: 600;
  }

  .sup-title {
    font-size: 13px;
    margin-top: 10px;
    font-weight: 500;
  }

  .button {
    @include button();
    margin-top: 1rem;
    cursor: pointer;
  }

  .line {
    background-color: rgba($dark, 0.15);
    height: 2px;
    width: 100%;
    margin: 1rem 0;
  }

  .job-details-sec {
    margin-top: 1rem;

    h4 {
      margin-bottom: 1rem;
      font-size: 20px;
    }

    h5 {
      margin-bottom: 0.4rem;
    }

    h6 {
      margin-bottom: 1rem;
      font-weight: 500;
    }

    ul {
      padding: 0 0 0 2rem;
      margin-bottom: 1rem;

      li {
        list-style: disc;
        font-size: 12px;
        line-height: 2rem;
        font-weight: 500;
      }
    }
  }
}

/************************************************
*              defense-solutions                *
************************************************/

.defense-solutions {
  padding: 4rem 0 2rem;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .title {
      margin-bottom: 1rem;
      text-align: left;
    }

    .desc {
      margin-bottom: 2rem;
    }

    .button {
      @include button();
    }

    .images {
      height: 400px;
      width: 100%;
      @include center();

      .img {
        height: 100%;
        @include image();
        width: 80%;
      }
    }
  }
}

/************************************************
*                    sensor                     *
************************************************/

.sensor {
  padding: 2rem 0;

  .title-sec {
    .desc {
      padding: 1rem 2rem;
      text-align: center;
    }
  }

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 20px;
    margin-top: 4rem;

    .images {
      height: 300px;
      width: 100%;
      @include image();
    }

    .others {
      .title-list {
        @include center();
        justify-content: flex-start;
        margin-bottom: 2rem;

        li {
          font-size: 20px;
          font-weight: 600;
          margin-right: 2rem;
          cursor: pointer;

          &.active {
            border-bottom: 2px solid $main;
            color: $main;
          }
        }
      }

      .image {
        height: 250px;
        width: 100%;
        @include image();
        border-radius: 20px;
      }

      .name {
        font-size: 24px;
        margin: 1rem 0;
        font-weight: 700;
        color: $bgColor;
      }
    }
  }
}

/************************************************
*                   learning                    *
************************************************/

.learning {
  padding: 6rem 0 3rem;
  background-color: $bgColor;

  .wrapper {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-gap: 20px;
    align-items: center;

    .details {
      .banner-title {
        font-size: 40px;
        font-weight: 800;
        color: $light;
        margin-bottom: 1rem;

        span {
          color: $btn;
        }
      }

      .desc {
        color: $light;
        max-width: 600px;
        width: 100%;
      }

      .button-group {
        margin: 2rem 0;
        @include center();
        justify-content: flex-start;

        .button {
          @include button();
          margin-right: 1rem;
        }
      }
    }

    .image {
      height: 300px;
      width: 100%;
      @include image();
      border-bottom-left-radius: 100px;
    }
  }
}

/************************************************
*                   courses                     *
************************************************/

.courses {
  padding: 4rem 0 0;

  ul {
    @include center();
    margin: 2rem 0 1rem;

    li {
      font-size: 26px;
      font-weight: 700;
      margin: 0 1rem;
      cursor: pointer;

      &.active {
        color: $main;
        border-bottom: 2px solid $main;
      }
    }
  }

  .list {
    .swiper-slide {
      padding: 1rem 0 1rem 1rem;
    }

    .card {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba($dark, 0.2);
      overflow: hidden;
      transition: 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba($dark, 0.2);
      }

      .image {
        height: 170px;
        width: 100%;
        @include image();
        position: relative;

        .ribbon {
          position: absolute;
          top: -25px;
          left: -25px;
          z-index: 1;
          @include center();
          overflow: hidden;
          transform: rotate(-45deg);
          height: 100px;
          width: 100px;

          .tag {
            padding: 0.3rem;
            font-size: 12px;
            background-color: $main;
            color: $light;
            width: 100%;
            text-align: center;
          }
        }
      }

      .details {
        padding: 10px 10px 1rem;

        .name {
          font-size: 18px;
          font-weight: 700;
        }

        .desc {
          margin: 1rem 0;
          line-height: 1.6rem;
          font-size: 14px;
        }

        .button {
          @include button();
          padding: 0.3rem 1rem;
        }
      }
    }
  }
}

/************************************************
*               dont-waste-time                 *
************************************************/

.dont-waste-time {
  padding: 4rem 0;

  .desc {
    text-align: center;
  }

  .list {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .item {
      @include center();
      flex-direction: column;
      padding: 2rem 1rem;
      box-shadow: 4px 4px 20px rgba($dark, 0.15);
      border-radius: 10px;
      border-top: 4px solid $main;
      .icon {
        height: 70px;
        width: 70px;

        img {
          width: 100%;
        }
      }

      .name {
        font-size: 18px;
        font-weight: 700;
        margin: 1rem 0;
        text-align: center;
      }

      .desc {
        line-height: 1.6rem;
        font-size: 14px;
      }
    }
  }
}

/************************************************
*                    intern                     *
************************************************/

.intern {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 2rem;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($dark, 0.2);
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba($dark, 0.2);
    }

    .image {
      height: 200px;
      width: 100%;
      @include image();
      position: relative;

      .ribbon {
        position: absolute;
        top: -25px;
        left: -25px;
        z-index: 1;
        @include center();
        overflow: hidden;
        transform: rotate(-45deg);
        height: 100px;
        width: 100px;

        .tag {
          padding: 0.3rem;
          font-size: 12px;
          background-color: red;
          color: $light;
          width: 100%;
          text-align: center;
        }
      }
    }

    .details {
      padding: 1rem 1rem 1.5rem;

      .name {
        font-size: 24px;
        font-weight: 700;
      }

      .desc {
        margin: 1rem 0;
        line-height: 1.6rem;
        font-size: 14px;
      }

      .button {
        @include button();
        padding: 0.3rem 1rem;
      }
    }
  }
}

/************************************************
*              ready-to-get-started             *
************************************************/

.ready-to-get-started {
  height: 400px;
  @include image();
  @include center();
  flex-direction: column;
  position: relative;
  background-attachment: fixed;

  &:after {
    content: '';
    @include black();
    background-color: rgba($dark, 0.7);
  }

  .title {
    font-size: 60px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    color: $light;
  }

  .button {
    @include button();
    position: relative;
    z-index: 1;
  }
}

/************************************************
*               learn-with-dest                 *
************************************************/

.learn-with-dest {
  padding: 2rem 0 0;
  .list {
    margin: 2rem 0;

    .swiper-slide {
      height: 450px;
      @include center();
      padding: 1rem 0 1rem 1rem;

      &:nth-child(1),
      &:nth-child(5) {
        .card {
          border-top: 4px solid #bbb7ff;
          .image {
            border-bottom: 4px solid #bbb7ff;
          }
        }
      }

      &:nth-child(2),
      &:nth-child(6) {
        .card {
          border-top: 4px solid #3be5dd;
          .image {
            border-bottom: 4px solid #3be5dd;
          }
        }
      }

      &:nth-child(3),
      &:nth-child(7) {
        .card {
          border-top: 4px solid #99b7ff;
          .image {
            border-bottom: 4px solid #99b7ff;
          }
        }
      }

      &:nth-child(4),
      &:nth-child(8) {
        .card {
          border-top: 4px solid #fffbae;
          .image {
            border-bottom: 4px solid #fffbae;
          }
        }
      }
    }

    .card {
      position: relative;
      border-top: 4px solid #bbb7ff;
      padding-top: 4rem;
      padding-bottom: 1rem;
      text-align: center;
      box-shadow: 0 0 14px rgba($dark, 0.2);
      transition: 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 14px rgba($dark, 0.2);
      }

      .image {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        @include image();
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid $light;
        border-bottom: 4px solid #bbb7ff;
        box-shadow: 0 0 25px rgba($dark, 0.2);
      }

      .details {
        padding: 1rem;

        .name {
          font-size: 22px;
          font-weight: 600;
        }

        h6 {
          margin: 0.5rem 0 1rem;
          font-size: 15px;
          color: #6d6d6d;
          letter-spacing: 0.4px;
        }
      }
    }
  }
}

/************************************************
*                    contact                    *
************************************************/

.contact {
  height: 800px;
  position: relative;

  .map {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    iframe {
      height: 100%;
      width: 100%;
    }
  }

  .wrapper {
    @include black();
    @include center();
    justify-content: flex-end;

    .title {
      color: $light;
      margin-bottom: 2rem;
    }

    .form {
      background-color: rgba($bgColor, 0.8);
      backdrop-filter: blur(5px);
      padding: 2rem;
      max-width: 500px;
      width: 100%;
      position: relative;
      z-index: 1;

      form {
        fieldset {
          border: 1px solid rgb(235, 235, 235);
          padding: 0 2rem;
          margin-bottom: 1rem;
          legend {
            float: none;
            width: auto;
            margin: 0 5px;
            padding: 0 10px;
            color: rgb(230, 230, 230);
            font-size: 16px;
          }

          input,
          textarea {
            padding: 0.6rem;
            width: 100%;
            color: $light;

            &::placeholder {
              color: $light;
            }
          }

          textarea {
            max-height: 200px;
            height: 100%;
            resize: none;
          }
        }
        .button {
          @include button();
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
